@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.App {
  background-color: white;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
}

.content {
  width: 100%;
  border-bottom: solid #e5e5e5 1px;
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}

.smallBoldRed {
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin: 0 20px 0 0;
}

.duration {
  font-weight: bold;
  font-size: 12px;
  margin: 0 20px 0 0;
}

.infos {
  flex: 5;
}

.logoPage {
  display: flex;
  width: 200px;
  justify-content: space-around;
  padding-bottom: 62px;
}

.logoPage img {
  height: 80px;
}

.logoPage h1 {
  padding-top: 20px;
}

.wrap {
  display: flex;
  flex: 1;
  align-items: center;
  height: 80px;
  padding: 0 5px 0 0;
}

.title {
  display: flex;
  width: 100%;
  padding-bottom: 17px;
}

.title img {
  height: 80px;
}

.type {
  font-size: 12px;
}
